$pd-left-and-right: 0 50px;
$light-text: white;
$dark-text: #445161;
.container {
    .sub-header {
        font-size: 30px;
        color: $dark-text;
    }
    font-family: Arial,
    Helvetica,
    sans-serif;
    .header {
        min-height: 325px;
        color: $light-text;
        .main-header {
            font-size: 60px;
        }
        padding: $pd-left-and-right;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #445162;
        display: flex;
        gap: 15px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        &__list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 38px;
            &>.list {
                display: flex;
                flex-direction: column;
                gap: 15px;
                font-size: 20px;
            }
        }
    }
    .about {
        min-height: 290px;
        padding: $pd-left-and-right;
        padding-top: 50px;
        padding-bottom: 40px;
        display: flex;
        gap: 40px;
        justify-content: flex-start;
        &__content {
            display: flex;
            flex-direction: column;
            gap: 37px;
            .about__text {
                font-size: 16px;
                line-height: 1.5;
                color: $dark-text;
            }
        }
    }
    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $pd-left-and-right;
        padding-top: 50px;
        padding-bottom: 50px;
        &--columns {
            background-color: #f5f5f5;
        }
        &--align {
            background-color: white;
            .block__container {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 45px;
            }
        }
        &__container {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 15px;
            .card {
                display: flex;
                &--column {
                    flex-basis: 49%;
                    gap: 15px;
                    justify-content: flex-start;
                    align-items: flex-start;
                    .card__text {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        gap: 15px;
                        line-height: 1.5;
                        .text-header {
                            font-size: 24px;
                            color: $dark-text;
                        }
                    }
                }
                &--align {
                    border-radius: 4px;
                    height: 500px;
                    background-color: #445162;
                    flex-direction: column;
                    border: 1px solid #445162;
                    width: 300px;
                    .align {
                        &__header {
                            font-size: 24px;
                            color: $light-text;
                            height: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-transform: uppercase;
                        }
                        &__subheader {
                            background-color: #fff;
                            height: 70px;
                            font-size: 40px;
                            color: $dark-text;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        &__content {
                            padding: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 100%;
                            font-size: 14px;
                            color: $light-text;
                            line-height: 1.7;
                        }
                    }
                }
                .btn {
                    width: 100%;
                    height: 40px;
                    background-color: #fff;
                    border-radius: 4px;
                    font-size: 18px;
                    color: $dark-text;
                }
            }
        }
    }
    .footer {
        height: 65px;
        background-color: #f5f5f5;
        color: $dark-text;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
